body {
    background-color: black;
    color: white;
    font-family: monospace;
}

section {
    background-color: maroon;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
}

article {
    border: dashed 1px pink;
    margin: 10px;
    margin-bottom: 10%;
    padding-bottom: 2%;
    padding-left: 5px;

}

footer {
    background-color: purple;
    text-align: center;
}

a:link, a:visited {
    color: cyan;
}

article footer {
    font-family: sans-serif;
    font-size: 0.6em;
    background-color: inherit;
    text-align: left;
}

nav {
    text-align: center;
    background-color: #4e4a4a;
}

nav ul li {
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}

nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
    color: pink;
}

body > header {
    text-align: center;

}

